.wrapper {
	width: 100%;
	min-height: 100vh;
	padding: 0 32px;
}

.infoTrackContainer {
	display: flex;
}

.playlistActionBtns {
	padding: 15px 25px;
	width: 100%;
	height: auto;
}

.playlistActionBtns > span {
	position: relative;
	bottom: -4px;
	height: inherit;
	left: -30px;
}

.playlistActionBtns > div {
	position: relative;
	right: 40px;
	top: 60px;
}

.infoTitleBlock {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 22px;
}

.infoTitleBlock span {
	color: #b3b3b3;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	margin-right: 20px;
	letter-spacing: 1px;
}

.infoTitleBlock > span:nth-of-type(1) {
	margin-left: 75px;
}

.infoTitleBlock div span:first-child {
	font-size: 19px;
}

.trackListRow,
.trackListPlayButton,
.songInfo,
.songDuration {
	display: flex;
}

.trackListRow {
	align-items: center;
	justify-content: space-between;
	padding: 6px 22px;
	border-radius: 5px;
}

.trackListRow:hover {
	background-color: hsla(0, 0%, 100%, 0.1);
}

.trackListPlayButton {
	position: relative;
	align-items: center;
	gap: 15px;
	left: -5px;
}

.trackListPlayButton > span {
	position: absolute;
	left: 6px;
	top: 7px;
	color: #1ed760;
}

.trackListPlayButton > button {
	background: transparent;
	opacity: 0;
}

.trackListRow:hover .trackListPlayButton > span {
	color: transparent;
}

.trackListRow:hover button {
	opacity: 1;
}

.songInfo {
	flex-direction: column;
}

.songInfo > span {
	color: #1ed760;
}

.songDuration {
	align-items: center;
	gap: 30px;
}

.songDuration svg {
	position: relative;
	bottom: 5px;
}

.songData {
	margin: 32px 0 0;
}

.songData > span {
	font-weight: 600;
}

.songData span {
	color: #b3b3b3;
	display: block;
}

.songCopyright {
	font-size: 13px;
}

.active {
	background-color: rgba(255, 255, 255, 0.2);
}
